
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html, body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#root {
  &, & > div, & > #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
  } 
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}
